@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
    color: #fff;
    background: #151515;
}

.app {
    height: 100vh;
    max-width: 500px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.page {
    flex-direction: column;
    height: 100%;
    display: flex;
}

.home {
    margin: 0 auto;
    height: 100%;
    display: flex;
    width: 100%;
    padding: 30px 16px;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.home__balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.home__balance img {
    width: 48px;
    height: 48px;
    display: block;
}

.home__balance p {
    font-size: 40px;
    font-weight: 700;
}

.home__coin {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.05s all ease-in;
}

.home__bigcoin {
    width: 280px;
    height: 280px;
    display: block;
}

.home__coin.clicked {
    scale: 1.05;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 16px 32px;
}

.nav a {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.nav p {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}




.boosts {
    box-shadow: 0px 13px 81px 30px #6f737f;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 30px 70px 30px;
    background-color: #dbdbdb;
    height: 638px;
    overflow-y: scroll;
}
.boosts__nav {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}
.boosts__nav a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: #6f737f;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.boosts__nav a:hover {
    background-color: #575a64;
}
.boosts__list {
    background-color: #898d98;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.earn {
    box-shadow: 0px 13px 81px 30px #6f737f;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 30px 70px 30px;
    background-color: #dbdbdb;
    height: 638px;
    overflow-y: scroll;
}
.earn__nav {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}
.earn__nav a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: #6f737f;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.earn__nav a:hover {
    background-color: #575a64;
}
.earn__list {
    background-color: #898d98;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secret {
    box-shadow: 0px 13px 81px 30px #6f737f;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 30px 70px 30px;
    background-color: #dbdbdb;
    height: 638px;
}
.secret__nav {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}
.secret__nav a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: #6f737f;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.secret__nav a:hover {
    background-color: #575a64;
}
.secret__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.secret__main input {
    color: #000;
    font-size: 22px;
    outline: none;
    padding: 5px;
}
.secret__main button {
    color: #fff;
    padding: 5px;
    background-color: #6f737f;
    border: none;
    cursor: pointer;
}
.secret__main button:hover {
    background-color: #898d98;
}

.boost__item {
    background-color: #6f737f;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boost__item:hover {
    cursor: pointer;
    background-color: #575a64;
}
.boost__item._activated {
    opacity: 0.2;
}
.boost__item-info .title {
    font-weight: 500;
    font-size: 20px;
}
.boost__item-info .subtitle {
    font-size: 14px;
    opacity: 0.7;
}

.earn__item {
    background-color: #6f737f;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.earn__item._done {
    opacity: 0.3;
}
.earn__item-info .title {
    font-weight: 500;
    font-size: 20px;
}
.earn__item-info .subtitle {
    font-size: 14px;
    opacity: 0.7;
    display: inline-block;
}
.earn__item-info .progress {
    font-size: 12px;
    display: inline-block;
}
.earn__item-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.earn__item-image img {
    margin: 0 auto;
}
.earn__item-image p {
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 380px) {
    .app {
        padding: 0;
    }
    .secret {
        height: 100vh;
    }
    .secret__main input {
        width: 200px;
    }
}
@media screen and (max-height: 638px) {
    * {
        overflow-y: hidden;
    }
}/*# sourceMappingURL=main.css.map */
